---
layout: layouts/html.njk
data: getYear
templateClass: home
tags: home
pagination:
  alias: page
  data: published
  size: 1
eleventyExcludeFromCollections: true
permalink: "{{ page.category.slug | slug }}/index.html"
---
  <div class="container-inner_col content-container">

    <div class="full-width">
      <p><a href="/">home</a> > {{ page.category.title }}</a></p>
    </div>

    <h1>{{ page.category }}</h1>

    <div class="col-section">

      <div class="col">
        <ul>
            <li>
              <a href="/post-slug/">Post Title</a>
            </li>
        <ul>
      </div>

    </div>

  </div>
