---
layout: layouts/html.njk
data: getYear
templateClass: home
tags: home
pagination:
  alias: page
  data: published
  size: 1
eleventyExcludeFromCollections: true
permalink: "{{ page.category.slug | slug }}/{{ page.slug | slug }}/index.html"
---
  <div class="container-inner_col content-container">

    <div class="full-width">
      <p><a href="/">home</a> > <a href="/{{ page.category.slug | slug }}">{{ page.category.title }}</a> > {{ page.title }} – {{ page.subtitle }}</p>
    </div>
    
    <h1>{{ page.title }}</h1>
    <h2>{{ page.subtitle }}</h2>

    <div class="col-section">

      <div class="col">
        <p>page.main | markdownify | safe</p>
      </div>

    </div>

  </div>
